// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: #527858,
    200: #7DB485
  ),
  secondary: (
    100: #f7f2f2,
    200: #c8c4c4,
  ),
  dark: (
    100: #363636,
    200: #000000,
  ),
);
