---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<script is:inline src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>

<DefaultLayout title="calendar">
    <div class="container">
        <h1>Calendar</h1>
        <add-to-calendar-button
          name="Title"
          options="'Apple','Google'"
          location="World Wide Web"
          startDate="2024-09-19"
          endDate="2024-09-19"
          startTime="10:15"
          endTime="23:30"
          timeZone="America/Los_Angeles"
        ></add-to-calendar-button>


    </div>
    
</DefaultLayout>