---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Quote from '../components/Quote.astro'

// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <div class="container">
    <Quote quote="Valerie is a force of nature with an unwavering commitment to conveying every note with artistic integrity and fidelity to the score and what the music calls for. One of the best people I have worked with in my career!" name="Emmanuel Berrido" job="composer"/>
  </div>
</DefaultLayout>
