---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="listen">
    <div class="container">
        <h1>Listen</h1>
        <div class="flex flex-col gap-8">
            <div class="grid grid-cols-1 gap-16 md:grid-cols-2">
                <div class="max-w-[65ch] text-lg flex flex-col justify-center gap-6">
                    <div>
                        <h2 class="text-3xl">
                            Clarinet Trio in A Minor, Op 114
                        </h2>
                        <p class="italic">Johannes Brahms (1833-1897)</p>
                    </div>
                    <div>
                        <p class="italic text-sm">performed by</p>
                        <p>Valerie Nuzzolo, clarinet</p>
                        <p>Ran Bi, Piano</p>
                        <p>Yian Chi, Cello</p>
                    </div>
        
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7az7neAk_xE?si=BXw_15bb3q8sx240" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="grid grid-cols-1 gap-16 md:grid-cols-2">
                <div class="max-w-[65ch] text-lg flex flex-col justify-center gap-6">
                    <div>
                        <h2 class="text-3xl">A Set for Clarinet</h2>
                        <p class="italic">Donald Martino (1931-2005)</p>
                    </div>
                    <div>
                        <p class="italic text-sm">performed by</p>
                        <p>Valerie Nuzzolo, clarinet</p>
                    </div>
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rteBWkPyUh0?si=IDHjxp1R8UEH35m5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</DefaultLayout>