---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="teaching philosophy">
    <div class="container">
        <h1>Teaching Philosophy</h1>
    </div>
</DefaultLayout>