---
const currentYear = new Date().getFullYear()
---

<footer>
  
  <section class="py-8">
    <div class="container">
      <p>
        Valerie Nuzzolo &copy; {currentYear}
      </p>
    </div>
  </section>
</footer>
