---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/about/">About</a>
    </li>
    <li class="menu-item has-dropdown">
      <a href="/listen/">Listen</a>
    </li>
    <li class="menu-item">
      <a href="/teaching-philosophy/">Teaching Philosophy</a>
    </li>
    <li class="menu-item">
      <a href="/calendar/">Calendar</a>
    </li>
    <li class="menu-item">
      <a href="/contact/">Contact</a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;
</style>
