---
import { Image } from "astro:assets"

// import { Icon } from 'astro-icon/components'

const { src = '/src/assets/img/val.jpeg' } = Astro.props
---

<section class="hero">
  <div class="container">
    <div class="grid grid-cols-1 gap-16 md:grid-cols-2">
      <div class="flex flex-col items-end justify-center gap-8 md:items-end w-full">
        <h1 class="text-end text-6xl md:text-end lg:text-8xl w-min">
          Valerie Nuzzolo
        </h1>
        <p class="text-3xl font-normal dark:font-extralight">Clarinetist. Educator.</p>
        <a href='/about' type="button" class="button size-huge">Meet Valerie</a>
      </div>
      <Image class="w-fit max-h-dvh" src={src} width={984}  height={1871} alt="valerie in a black dress holding her clarinet and smiling" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
